/*
 * This CSS file contains styles that are used by the FXML files.
 * For instance, .tool-bar refers to and styles every JavaFX ToolBar object that inherits
 * styles from this file.
 */


* {
    -fx-font-family: "Raleway";
    -jfx-focus-color: #000000;
    -jfx-rippler-fill: #323232;
    -fx-accent: rgba(0, 0, 0, 0.85);

}

.jfx-button {
    -jfx-button-type: RAISED;
    -fx-font-size: 12px;
    -fx-background-color: rgb(49, 49, 49);
    -jfx-rippler-fill: #fafafa;
    -fx-text-fill: WHITE;
}

.jfx-button:hover {
    -fx-background-color: WHITE;
    -fx-text-fill: rgb(49, 49, 49);
}

.combo-box-popup > .list-view {
    -fx-background-color: #fafafa;
}

.combo-box-popup *.list-cell {
    -fx-background: #fafafa;
    -fx-selection-bar: #ababab;
    -fx-cell-focus-inner-border: rgba(0, 0, 0, 0);
}

.tool-bar {
    /* We want the toolbar to have the same bg color as the rest of the window */
    -fx-background-color: inherit;
}

/* Change selected item color */
.jfx-list-view .jfx-list-cell:selected {
    -fx-background-color: #222222 !important;
    -fx-text-fill: #fafafa !important;
}

.jfx-tree-view .jfx-list-cell:selected {
    -fx-background-color: #222222 !important;
    -fx-text-fill: #fafafa !important;
}

.jfx-list-cell {
    -fx-background-insets: 0;
}

.jfx-list-cell .jfx-rippler {
    -fx-rippler-fill: #121212;
}

/* Remove focus highlighting of listview */
.list-view:focused {
    -fx-focus-color: transparent;
}

.jfx-list-view .jfx-list-cell:selected .label {
    -fx-text-fill: white;
}


/* Styling for our titles*/
#title {
    -fx-font: 23px Raleway !important;
}

/* Styling for our descriptions */
#description {
    -fx-font: 12px Raleway !important;
    -fx-max-height: 100px;
}


/* Styling for detail windows */

#detailsTitle {
    -fx-font: 32px Raleway !important;
    -fx-text-fill: #fafafa;
}

#detailsName {
    -fx-font: 32px Raleway !important;
    -fx-text-fill: #fafafa;
}

#detailsDescription {
    -fx-font: 15px Raleway !important;
    -fx-max-height: 100px;
    -fx-text-fill: #fafafa;
}

#detailsBiography {
    -fx-font: 15px Raleway !important;
    -fx-max-height: 100px;
    -fx-text-fill: #fafafa;
}

#detailsRating {
    -fx-font: 24px Raleway !important;
    -fx-text-fill: #fafafa;
}

#detailsYear {
    -fx-font: 20px Raleway !important;
    -fx-text-fill: #fafafa;
}

#detailsBorn, #detailsDead, #detailsAge {
    -fx-font: 20px Raleway !important;
    -fx-text-fill: #fafafa;
}

#detailsRuntime {
    -fx-font: 20px Raleway !important;
    -fx-text-fill: #fafafa;
}

.detailsSectionTitle {
    -fx-font: 25px Raleway !important;
    -fx-text-fill: #000000;
}

.detailsJobName {
    -fx-font: 22px Raleway !important;
    -fx-text-fill: #000000;
}

#detailsBudget {
    -fx-font: 20px Raleway !important;
    -fx-text-fill: #fafafa;
}

#detailsRevenue {
    -fx-font: 20px Raleway !important;
    -fx-text-fill: #fafafa;
}

#crewListView .list-cell {
    -fx-font: 12px Raleway !important;
    -fx-alignment: center !important;
}

#castListView .list-cell {
    -fx-alignment: center !important;
}

#castName {
    -fx-font: 11px Raleway !important;
}

#castCharacter {
    -fx-font: 10px Raleway !important;
}

#author {
    -fx-font-size: 20px !important;
}



/* hide scrollbars for horizontal treeviews */
.tree-view .scroll-bar:horizontal .increment-arrow,
.tree-view .scroll-bar:horizontal .decrement-arrow,
.tree-view .scroll-bar:horizontal .increment-button,
.tree-view .scroll-bar:horizontal .decrement-button {
    -fx-padding: 0 !important;
}

/* styling for star ratings */

.rating > .container > .button {
  -fx-background-image: url("../image/unselected-star.png");
}

.rating > .container > .button.strong {
  -fx-background-image: url("../image/selected-star.png");
}

/* styling for message popup (snackbar) throughout the app */

.jfx-snackbar-content {
    -fx-background-color: #323232;
}

.jfx-snackbar-toast {
    -fx-text-fill: #fafafa;
}

.settingsButton {
    -fx-image: url("../image/icon_settings.png")
}

.settingsButton:hover {
    -fx-image: url("../image/icon_settings_hover.png")
}

.settingsLabel {
    -fx-font: 15px Raleway !important;
    -fx-text-fill: #000000;
}

.settingsTitle {
    -fx-font: 30px Raleway !important;
    -fx-text-fill: #000000;
}

.settingsTextField {
    width: 280px;
}

#seasonsTreeView {
    -fx-background-color: #f4f4f4;
}

#seasonsTreeView .tree-cell {
    -fx-background-color: #f4f4f4;
}